django
sqlparse 
tzdata
gunicorn
numpy-1.22.0
pandas-1.3.5
python-dateutil
pytz
six
dj-database-url
django-heroku
psycopg2
whitenoise
screen
pytz
django-six
django-excel-base
django-excel-response2
django-admin
